* {
  padding:0;
  margin:0;
  box-sizing: border-box;
}


body {
  font-family: ‘Arvo’, serif;
  font-weight: bolder;
  color: #333;
}


.header-container{
  background-image: url('states-nature.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
   flex: 1;
  height: 50vh;
  align-items: center;
}

.h1, .h3, .flash{
  color: white;
}


.input-field {
  height:40px;
  width:500px;
  border-radius: 20px;
  border:none;
  outline:none;
  text-indent:20px;
}

button {

  height:30px;
  padding:10px;
  border-radius: 5px;
  border:none;
  outline:none;
  cursor: pointer;
  text-align: center;
  margin-right: auto;
  
}

.buttons{

  
}

#chart{
  
}

.active {
  background:salmon;
  
}


.countries-container {
  width:80%;
  margin:auto;
  display:flex;
  flex-wrap: wrap;
}

.countries-container > div {
  width: 200px;
 /* height: 200px;*/
  background:rgb(248, 240, 240);
  margin:5px;
  /* line-height: 190px; */
  text-align: center;


}

div{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.tagsWrap{
  display: flex;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: space-around
  
  
}

.image{
  width: 100%;
  
}
